# Python
__pycache__/
*.py[cod]
*$py.class
venv/
ENV/

# Development
.env
.env.local
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Project specific
uploads/*
!uploads/.gitkeep
static/*
!static/.gitkeep

# Google Cloud
*.yaml
!app.yaml
.gcloudignore